# Python
__pycache__/
*.pyc

# Airflow
airflow.db
airflow.cfg

logs/
tmp/

# Conda
.conda/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Offline artifacts
*.tar
*.tar.gz

# AI model assets
embedding-models/
ocr-paddle/models/